.serv{
      height: 100%;
    position:relative;
    overflow: hidden;
    background-image: url(/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

serv1{
    background-color: white;
}