.home{

  background-color:#fff;
}

.section_padding {
  padding: 140px 0px;
}

.single_padding_top {
  padding-top: 140px !important;
}

.padding_top {
  padding-top: 140px;
}

.padding_bottom {
  padding-bottom: 140px;
}

a:hover {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #242429;
  font-family: "Playfair Display", serif;
}

p {
  color: #666666;
  font-family: "Roboto", sans-serif;
  line-height: 1.929;
  font-size: 16px;
  margin-bottom: 0px;
  color: #888888;
}

h2 {
  font-size: 10vw;
  line-height: 28px;
  color: #242429;
  font-weight: 600;
  line-height: 1.222;
}

h3 {
  font-size: 24px;
  line-height: 25px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

img {
  max-width: 100%;
}

a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.section_tittle {
  margin-bottom: 84px;
}

.section_tittle h2 {
  font-size: 48px;
  color: #242429;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  margin-bottom: 28px;
}

.section_tittle p {
  color: #7f7f7f;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 26px;
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.padding_less_40 {
  margin-bottom: -50px;
}

.btn_2 {
  display: inline-block;
  background-color: #649bff;
  padding: 16px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  background-size: 200% auto;
  border-radius: 5px;
  display: inline-block;
}

.btn_2:hover {
  color: #fff;
  background-position: center right;
}


.banner_part {
  height: 935px;
  position: relative;
  overflow: hidden;
  background-image: url(/banner_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

@media (max-width: 991px) {
  .banner_part {
    
    overflow: hidden;
    background-color: #fff;
    height: 650px;
    
    
  }
}

.banner_part .banner_text {
  display: table;
  width: 100%;
  height: 935px;
}

.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
  padding-top: 155px;
  
}

@media (max-width: 991px) {
  .banner_part .banner_text .banner_text_iner {
    vertical-align: middle;
    padding-top: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner_part .banner_text .banner_text_iner {
    padding-top: 0;
    padding-top: 100px;

  }
}

@media (max-width: 576px) {
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 650px;
  }
}



@media only screen and (min-width: 576px) and (max-width: 1200px) {
  .banner_part .banner_text {
    height: 650px;
  }
}

.banner_part .banner_text h5 {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  color: #242429;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

.banner_part .banner_text h1 {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.2;
}

.banner_part .banner_text h1 span {
  color: #0065e1;
}

.banner_part .banner_text p {
  font-size: 15px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: #242429;
  padding-right: 20px;
}

.banner_part .banner_text .btn_2 {
  margin-top: 50px;
}

.about_usim {
  position: relative;
  z-index: 99;
  background-image: url(/about_bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 50% 90%;
}

@media (max-width: 991px) {
  .about_us {
    padding: 70px 0 0;
    background-image: none;
  }
}

.about_us .about_us_text h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 24px;
  position: relative;
  text-align: center;
}

.about_us .about_us_text p {
  line-height: 1.929;
  margin-bottom: 35px;
}

.about_us .about_us_text ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.about_us .about_us_text ul li {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  padding-right: 33px;
  padding-top: 12px;
  color: #242429;
  width: 50%;
  font-family: "Playfair Display", serif;
  position: relative;
  padding-left: 29px;
}

.about_us .about_us_text .btn_2 {
  margin-top: 13px;
}

.banner_item {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;  
}

.banner_item .single_item {
  text-align: center;
  margin-top: 100px;
  position: relative;
}

.banner_item .single_item:last-child:after {
  width: 0;
}

.banner_item .single_item img {
  width: 44px;
  margin-bottom: 25px;
}

.banner_item .single_item h5 {
  font-size: 18px;
  text-transform: capitalize;
  color: #242429;
}

@media (max-width: 576px) {
  .banner_item .single_item h5 {
    font-size: 14px;
    line-height: 22px;
  }
}


@media (max-width: 991px) {
  .top_service {
    padding: 0 0 70px;
  }
  .top_service .our_abilityabout_us_img {
    margin-top: 25px;
  }
}

.feature_part {
  padding: 140px 0 10px;
}

.feature_part .section_tittle {
  margin-bottom: 0px;
}

.feature_part .single_feature_text h2 {
  font-size: 42px;
  line-height: 1.222;
  margin-bottom: 30px;
  ;
}

.feature_part .single_feature_text p {
  line-height: 1.9;
  color: #7f7f7f;
}

.feature_part .single_feature_part {
  position: relative;
}

.feature_part .single_feature_part span {
  margin-bottom: 17px;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #f0f4f6;
  display: inline-block;
  line-height: 50px;
}

.feature_part .single_feature_part span img {
  width: 25px;
}

.feature_part .single_feature_part h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 13px;
  left: 75px;
}

.feature_part .single_feature_part p {
  color: #7f7f7f;
  line-height: 1.8;
  font-size: 15px;
}

.feature_part .single_feature {
  margin-top: 90px;
}

.single_feature_page {
  padding: 140px 0 0;
}

.doctor_part .single_blog_item:hover h3 {
  color: #0065e1 !important;
}

.doctor_part .single_blog_item h3 {
  margin-top: 30px;
  margin-bottom: 19px !important;
  font-size: 22px;
  font-weight: 700;
}

.single_page_doctor_part {
  padding: 140px 0 110px;
}