.serv {
    height: 935px;
    position: relative;
    overflow: hidden;
    background-image: url(/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }